html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    background: red;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.content {
    background: blue;
    width: 70%;
}

.social-image{
    width: 30px;
    margin: 15px;
}
#navbar{
    display:flex;
    
}